.js-draw {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 1202;
}

.toolbar-root {
  z-index: 1202;
  pointer-events: auto !important;
}

.clr-picker {
  z-index: 1203;
}

.display-none {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
}

.pointer-events-none {
  pointer-events: none;
}

.toggle-on {
  background-color: #4c48;
}

.margin-left-48 {
  margin-left: 48px;
}
